@model IEnumerable<CodeShopWarehouse.Entities.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessedAt)
            </td>
            <td>
                @if(item.ProcessedAt == null)
                {
                   @using (Html.BeginForm("Process", "OrdersView", item.Id, FormMethod.Post))
                   {
                       <input hidden value="@item.Id" name="id" />
                       <button type="submit">Process</button>
                   }
                   // <a asp-controller="OrdersView" asp-action="Process" asp-route-id="@item.Id">Details</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
